version: "{{ github_ref }}"
namespace: containercraft
authors:
- usrbinkat <usrbinkat@braincraft.io>
license:
- GPL-2.0-or-later

name: high_availability
description: "3 node KeepAliveD VRRP + HaProxy Highly Available Service Frontend"
readme: README.md
tags:
  - ha
  - highavailability
  - keepalived
  - haproxy
  - vrrp

issues: https://github.com/ContainerCraft/ansible/issues
documentation: https://github.com/ContainerCraft/ansible
repository: https://github.com/ContainerCraft/ansible
homepage: https://github.com/ContainerCraft/ansible
dependencies: {}
